
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    background-image: url(./bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-title {
    font-size: 30px;
 
}
/* .planePath {
    stroke: #D9DADA;
    stroke-width: .1%;
    stroke-width: .5%;
    stroke-dasharray: 1% 2%;
    stroke-linecap: round;
    fill: none;
  }
  
  .fil1 {
    fill: #D9DADA;
  }
  
  .fil2 {
    fill: #C5C6C6;
  }
  
  .fil4 {
    fill: #9D9E9E;
  }
  
  .fil3 {
    fill: #AEAFB0;
  } */
a{
    color: black;
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.container-box{
    max-width: 1000px;
    margin: auto;
    margin-top: 5%;
 
}
.top-banner{
    text-align: center;
    padding: 10px;
   
}
.nav-link{
    color:black;
}

.nav-item a{
    color: black;
    text-decoration: none;
}

.navbar{
    margin: auto;
}

.nav-sticky {
    background-color: #6CB0EF;

}
.nav-sticky  a{
    color: white;
    font-weight: 600;
}
.top-banner h2{
    color:black
}
.list-heading{
    margin-top: 20px;
    padding: 10px;
    color: #000;
}
.row{
    padding-bottom: 30px;
    margin: 30px 0;
}
h4{
    color: #464646;
    /* background-color:#F5F5F5; */
}
.card{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 5%);
    height: 280px;
    
}
.card-body{
    overflow-y: auto;
   

}
.list-group-item{
    
    border:none;
}
.fixed-bottom{
    position: fixed;
    max-width: 80%;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: #fbfbfb;
}
.copyrights{
    position: absolute;
    bottom: 0;
    font-size: 14px;
    background-color: #fbfbfb;
    color: #5c5c5c;
    padding: 10px;
   
}
.heading-para{
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    line-height: 1.5;
}
.heading-para h2{
    padding: 10px 0;
}
h1,h2{
    color:white;
}
.heading-para p{
    padding: 10px;
     color:#fff
}
.network-btn{
    padding: 8px;
    margin: 10px;
}