/*
 *  Copyright (c) 2015 The WebRTC project authors. All Rights Reserved.
 *
 *  Use of this source code is governed by a BSD-style license
 *  that can be found in the LICENSE file in the root of the source
 *  tree.
 */
 button {
  margin-left: 5px;
   padding: 10px;
   background-color:rgb(240, 240, 240);
   border:none;
   color:blue;
   border-radius:3px;
 }
 
 .record-format{
   padding: 10px;
 }
 p.borderBelow {
   margin: 0 0 20px 0;
   padding: 0 0 20px 0;
 }
 
 video {
   vertical-align: top;
   --width: 55vw;
   width: var(--width);
   height: calc(var(--width) * 0.5625);
 }
 
 video:last-of-type {
   margin: 0 0 20px 0;
 }
 
 video#gumVideo {
   margin: 0 20px 20px 0;
 }