html {
    margin: 0;
    background: black;
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: inherit;
}


/* the three main rows going down the page */

body>div {
    height: 25%;
}

.thumb {
    float: left;
    width: 25%;
    height: 100%;
    object-fit: cover;
}

.main {
    display: none;
}

.blowup {
    display: block;
    position: absolute;
    object-fit: contain;
    object-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
}

.darken {
    opacity: 0.4;
}